.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
}
.about-title{
    &--margin{
        margin-bottom: 10px;
    }
}
.about-text{
    @extend %description;
    color: black;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &::after{
        content: '';
        width: 120px;
        height: 1px;
        background: $btn-bg-color;
        display: block;
        margin: 32px 0;
    }
}
.description-box{
    max-width: 587px;
    margin-bottom: 32px;
    hyphens: manual;
    @media ( max-width: 768px) { 
        
        
    }
}
.about-deskription{
    @extend %description;
    text-align: center;
    font-size: 20px;
}