@font-face {
    font-family: 'Source Sans Pro', sans-serif;
    src: url("./fonts/SourceCodePro-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Source Sans Pro', sans-serif;
    src: url("./fonts/SourceCodePro-SemiBold.ttf") format("ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Bodoni Moda', sans-serif;
    src: url("./fonts/BodoniModaSC_9pt-Bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
