.container{
    max-width: 1200px;
    padding: 0 88px;
    margin: 0 auto;
    width: 100%;
}
.header-container{
    color: white;
}
.navigatin{
    @media ( max-width: 425px) { 
        display: none;
    }
}
.menu-button{
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    @media ( max-width: 426px) { 
                display: block;
            }
            @media ( min-width: 426px) { 
                display: none;
            }
}
.menu-button .icon-cross {
    display: none;
}
.menu-button.is-open .icon-cross {
    display: block;
}
.menu-button.is-open .icon-menu {
    display: none;
}
.navigating-mob{
    top: 65px;
    width: 100vw;
    height: 100vh;
    background: white;
    position: absolute;
    transition: 500ms ease-in-out;
    transform: translateX(-100%);
    &.is-open{
        transform: translateX(0);
    }
   

}
.nav-list-mob{
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    li{
        a{
            color: black;
        }
    }
    
}

.header-bg{
    background-image: url('../Image/bg/Main-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 200px;
}
.header-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    &--margin {
        padding-top: 65px;
    }
}
.navigatin-list{
    display: flex;
    gap: 16px;
    &--margin{
        margin-bottom: 128px;
    }
}
.title-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    &--margin{
        padding-bottom: 245px;
    }
}

.title-header-logo{
    font-family: 'Bodoni Moda', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &::after{
        content: '';
        width: 200px;
        margin: 8px auto;
        background: $bg-color;
        height: 2px;
        display: block;
    }
}
.title-header{
    @extend %title;
    color: white;
    font-size: clamp(28px, 8vw, 96px);
    &--margin{
        margin-bottom: 20px;
    }
}
.title-header-logo{
    color: white;
    font-size: 24px;
}

.post-title{
    @extend %description;
    font-size: 8px;
    color: white;
    &--margin{
        margin-bottom: 32px;
    }
}
.posttitle-header{
    @extend %description;
    font-size: 24px;
    color: white;
    &--margin{
        margin-bottom: 20px;
    }
}
.navigatin-item>a{
    @extend %link-style;
    color: white;
}

